body {
  width: 100%;
  margin-top: 0px;
  margin: 0px;

}
.global {
  width: 100%;
  margin-top: 0px;
  margin: 0px;
  height: auto;
  overflow: hidden;
}
header {
    width: 100%;
    margin-top: 0px;
    margin: 0px;
    background-color: #474D5D;
    height: 100px;
}
.nav {
  /*border: 1px solid yellow;*/
  height: 80px;
  background: rgba(1, 0, 0, 0.1) none repeat scroll 0% 0%;
  z-index: 9999;
  line-height: 70px;
  height: 100px;


}

.left  {
  float: left;
  /*border: 1px solid green;*/
  width: 50%;

}

.left a {
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  font-family: "Verdana";
  font-style: normal;
  border: 2px solid white;
  padding: 15px 6px;
  border-radius: 60px;
  font-size: 20px;
}
.left li {
  display:inline;
  list-style: none;
  margin-left: 10%;
}
.left a {
  font-family: Alex;
  font-weight: bold;
  text-decoration-style:solid ;
  font-size: 20px;
}
.right {
  float: right;
  /*border: 1px solid green;*/
  width: 50%;
  background-image: #0d0d0d;
  opacity: 0.9;
}
.right a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  font-family: "Times";
  font-style: normal;
  padding: 2px 7px 2px 5px;
  border: 1px solid transparent;
}
.right a:hover{
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 7px 2px 5px;
  color: black;

}
.right li {
  display:inline;
  list-style: none;
  margin-right: 4%;
}
.right ul {
  margin-right: 10%;
}
.title1 h2 {
  text-align: center;
  color: #474D5D;
  font-size: 30px;
  border: 1px solid #474D5D;
  border-radius: 100px;
  margin: 5% 45%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.bigbloc1, .bigbloc2, .bigbloc3, .bigbloc4, .bigbloc5, .bigbloc6{
  width: 100%;
  clear: both;
  margin-top: 5%;
  height: 300px;

}
.arrow {
  float: left;
  width: 5%;
  margin-right: 5%;
  }

  .fa-caret-right{
    color: #474D5D;
    margin-top: 110px;
    margin-left: 100%;
  }

  .bloc1 ,.bloc2 ,.bloc3 ,.bloc4 ,.bloc5 ,.bloc6 {
  width: 25%;
  height: 300px;
  border-top: 2px solid #474D5D;
  border-bottom: 2px solid #474D5D;
  margin-bottom: 10px;
  float: left;
  margin-right: 50px;
  text-align: center;
  font-size: 15px;
  margin-left: 15%;
}

.bloc12 , .bloc22, .bloc32, .bloc42, .bloc52, .bloc62{
  float: left;
  width: 25%;
  height: 151px;
  margin-bottom: 10px;
  border-top: 2px solid #474D5D;
  border-bottom: 2px solid #474D5D;  color: black;
  padding: 5%;
  font-size: 20px;
  overflow: hidden;

}
#team1,#team2,#team3,#team4,#team5,#team6 {
  text-decoration: underline;
  font-weight: bold;
}

.between {
  width: 100%;
  height: 100px;
  background-color: #474D5D;
  margin-top: 5%;
  margin-bottom: 5%;

}

.between h3 {
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 90px;
}

.betweenend h3 {

  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 35px;
}

.betweenend{
  width: 100%;
  height: 100px;
  background-color: #474D5D;
  margin-top: 5%;
}
td {
  margin-left: 0px;
  color: #474D5D;
  text-transform: uppercase;
  text-align: center;


}
th{
  font-style: oblique;
  font-weight: normal;
}

button{
  margin-top: 5%;
  background-color: #474D5D;
  color: white;
}
input{
text-align: center;
}
h2{
  text-transform: uppercase;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*PAGE2*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.match {
  width: 100%;
  height: 300px
}
.vs1 {
  width: 19%;
  height: 250px;
  float: left;
  border-right: 1px solid black;
  margin-left: 12px;
  text-align: center;
  padding-top: 7%;
}
.vs2 {
  width: 10%;
  height: 100px;
  float: left;
  border: 1px solid black;
}
